.alert {
    display: block;
    position: relative;
    border-radius: 6px;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: hsla(0,0%,95%,1);
    color: hsla(0,0%,9%,1);
    -webkit-transition: height .5s ease-in,opacity .5s ease-in;
    transition: height .5s ease-in,opacity .5s ease-in;
    word-wrap: break-word;
    word-break: break-word;
    border: 1px solid hsla(0,0%,100%,0);
}

.alert.is-warning {
    background: hsla(44,100%,90%,1) !important;
    border: 1px solid hsla(44,100%,90%,.999);
}
